#hero {
  background-color: #739ab9;
  color: #fbf0d8;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#hero h1 {
  font-size: 60px;
  margin-bottom: 10px;
  color: #fbf0d8;
  text-align: center;
}

#hero a {
  background-color: #b02a29;
  color: #fbf0d8;
  padding: 20px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.header {
  color: #fbf0d8;
  padding: 10px;
  text-align: center;
}

#home img {
  max-width: 150px;
  border-radius: 40%;
  display: block;
  margin-right: auto;
  margin-top: 1em;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fbf0d8;
  border-radius: 5px;
  box-shadow: 0 0 10px #333;
  border: solid 1px #333;
  flex-direction: column;
}

form * {
  margin-bottom: 10px;
}

form {
  border: solid 1px #333;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form label {
  display: block;
  font-weight: bold;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form input[type="submit"] {
  background-color: #b02a29;
  color: #fbf0d8;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #113047;
}

.required {
  content: "*";
  color: #b02a29;
}

footer {
  background-color: #113047;
  height: 20vh;
  padding: 10px;
  text-align: center;
  color: #fbf0d8;
}

footer #p {
  margin: 0;
  text-align: center;
  align-items: center;
}

.footer #p .a {
  color: #fbf0d8;
  text-decoration: none;
}

.footer .a:hover {
  text-decoration: underline;
}

.footer .social-icons {
  margin-top: 30px;
}

#opps404 image {
  max-width: 40%;
  height: auto;
  display: block;
  margin-left: 30%;
}

#opps404 .attribution {
  font-size: 11px;
  text-align: center;
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav i {
    padding: 1rem;
    font-size: 2rem;
  };

  nav ul {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
  }

  nav ul li {
    padding: 1rem;
    list-style-type: none;
  }

  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }
}

@media (min-width: 550px) {
  nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav .fa-bars {
    display: none;
  }

  #bio img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }
}

